<!doctype html>
<html>

<head>
  <title>Insert book into database</title>
</head>

<body>
  <h1><a href="/">BestBooks</a></h1>
  {% if session.username %}
  <p>
    <u>Logged in as: <a href="/profile/{{ session.user_id }}">{{ session.username }}</a></u>
  </p>
  <form action="/logout">
    <input type="submit" value="Log out" />
  </form>
  {% endif %}

  {% for message in get_flashed_messages() %}
  <p>
    <b>{{ message }}</b>
  </p>
  {% endfor %}

  <form action="/add_book" method="post">
    <p>
      <label for="title">Title:</label>
      <input id="title" type="text" name="title" value="{{ filled.title }}" required maxlength="100"/>
    </p>
    <p>
      <label for="author">Author:</label>
      <input id="author" type="text" name="author" value="{{ filled.author }}" required maxlength="100"/>
    </p>
    <p>
      <label for="publication_date">Publication date:</label>
      <input id="publication_date" type="date" name="publication_date" />
    </p>
    <p>
      <fieldset>
        <legend>Genres:</legend>
        {% for genre in genres %}
          <input id="{{ genre }}" type="checkbox" name="genres" value="{{ genre }}" />
          <label for="{{ genre }}">{{ genre }}</label>
        {% endfor %}
      </fieldset>
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Add to database" />
  </form>
</body>

</html>
