{% extends "layout.html" %}

{% block title %}Add a book{% endblock %}

{% block content %}

  <form action="/add_book" method="post">
    <p>
      <label for="title">Title:</label>
      <input id="title" type="text" name="title" value="{{ filled.title }}" required maxlength="100"/>
    </p>
    <p>
      <label for="author">Author:</label>
      <input id="author" type="text" name="author" value="{{ filled.author }}" required maxlength="100"/>
    </p>
    <p>
      <label for="publication_date">Publication date:</label>
      <input id="publication_date" type="date" name="publication_date" />
    </p>

    <fieldset>
      <legend>Genres:</legend>
      <div class="checkbox-group">
        {% for genre in genres %}
          <div class="checkbox-item">
            <input id="{{ genre }}" type="checkbox" name="genres" value="{{ genre }}">
            <label for="{{ genre }}">{{ genre }}</label>
          </div>
        {% endfor %}
      </div>
    </fieldset>
    
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <button type="submit" class="submit-button">Add to database</button>
  </form>
</body>

{% endblock %}
