<!doctype html>
<html>

<head>
  <title>Review {{ base.title }} by {{ base.author }}</title>
</head>

<body>
  <h1><a href="/">BestBooks</a></h1>
  {% if session.username %}
  <p>
    <u>Logged in as: <a href="/profile/{{ session.user_id }}">{{ session.username }}</a></u>
  </p>
  <form action="/logout">
    <input type="submit" value="Log out" />
  </form>
  {% endif %}

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <form action="/book/{{ book_id }}/add_review" method="post">
    <p>
      <fieldset>
        <legend>Your rating:</legend>
        {% for i in range(1, 6) %}
          <input type="radio" id="rating{{ i }}" name="rating" value="{{ i }}" {% if review.rating == i %}checked{% endif %} />
          <label for="rating{{ i }}">{{ i }}</label>
        {% endfor %}
        stars
      </fieldset>
    </p>
    <p>
      <fieldset>
        <legend>Your review</legend>
  
        <label for="title">Title:</label><br />
        <input id="title" type="text" name="title" placeholder="enter title" maxlength="100" value="{{ review.title }}" /><br /><br />

        <label for="content">Review:</label><br />
        <textarea id="content" name="content" rows="5" cols="40" maxlength="5000" placeholder="write a review">{{ review.content }}</textarea>
        
      </fieldset>
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Add review" />

  </form>
</body>

</html>
