<!doctype html>
<html>

<head>
  <title>Insert book into database</title>
</head>

<body>
  <h1><a href="/">BestBooks</a></h1>
  {% if session.username %}
  <p>
    <u>Logged in as: {{ session.username }}</u>
  </p>
  {% endif %}

  <form action="/add_book/upload" method="post">
    <p>
      Title:
      <input type="text" name="title" required maxlength="100"/>
    </p>
    <p>
      Author:
      <input type="text" name="author" required maxlength="100"/>
    </p>
    <p>
      Publication date:
      <input type="date" name="publication_date">
    </p>
    <p>
      Genres:
      {% for genre in genres %}
      <div class="genre-item">
        <label>
          <input type="checkbox" name="genres" value="{{ genre }}">
          {{ genre }}
        </label>
      </div>
      {% endfor %}
    </p>
    <input type="submit" value="Add to database">
  </form>
</body>

</html>
