{% extends "layout.html" %}

{% block title %}{{ base.title }} by {{ base.author }}{% endblock %}

{% block content %}

<body>
  <h2>{{ base.title }}</h2>

<!-- shows edit buttons for user who added the book -->
  {% if session.user_id == base.user_id %}
    <div class="book-buttons">
      <form action="/book/{{ book_id }}/edit">
        <button type="submit" class="submit-button">Edit book</button>
      </form>
      <form action="/book/{{ book_id }}/delete">
        <button type="submit" class="submit-button">Remove from database</button>
      </form>
    </div>
  {% else %}
    <i>Book added by: <a href="/profile/{{ base.user_id }}">{{ user.username }}</a></i>
  {% endif %}
  
  <p>
    <form action="/book/{{ book_id }}/add_review">
      <button type="submit" class="submit-button">Add review</button>
    </form>
  </p>

 <!--author, publication date and genres--> 
  <p>
    <b>Author</b>: {{ base.author }}
  </p>

  <p>
    <b>Published</b>: 
    {% if attr.publication_date %}
    {{ attr.publication_date }}
    {% else %}
    Unknown date
    {% endif %}
  </p>

  <p>
    {% if attr.genre %}
      <div class="genres">
        <b>Genres:</b>
        <ul>
          {% for genre in attr.genre %}
            <li>{{ genre }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </p>

<!--shows average stats if any-->
  <p>
    {% if stats.review_count %}
      {% if stats.review_count == 1 %}
      1 rating,
      {% else %}
      {{ stats.review_count }} ratings, 
      {% endif %}
    Average rating:
    {{ stats.average_rating}} stars
    {% else %}
    <i>no ratings</i>
    {% endif %}
  </p>

<!--list reviews-->
  <h3><u>User reviews:</u></h3>
  {% if reviews %}
    {% for review in reviews %}
      <article class="review">
        <header>
          <strong>
            <a href="/profile/{{ review.user_id }}">{{ review.username }}</a>
          </strong> rated it {{ review.rating }} stars
          <span class="timestamp">on {{ review.sent_at }}</span>
        </header>

        <p class="review-title">
          {% if review.title %}
            <a href="/book/{{ book_id }}/review/{{ review.user_id }}">{{ review.title }}</a>
          {% else %}
            <i>No review.</i>
          {% endif %}
        </p>

        {% if session.user_id == review.user_id %}
        <div class="review-buttons">
          <form action="/book/{{ book_id }}/add_review">
            <button type="submit" class="submit-button">Edit</button>
          </form>
          <form action="/book/{{ book_id }}/review/{{ review.user_id }}/delete">
            <button type="submit" class="submit-button">Delete</button>
          </form>
        </div>
        {% endif %}
      </article>
    {% endfor %}
  {% else %}
    <i>This book has no reviews yet.</i>
  {% endif %}

  <p class="page-nav">
    <a href="/book/{{ book_id }}/{{ page - 1 }}">&lt;&lt;</a>
    Page {{ page }}/{{ page_count }}
    <a href="/book/{{ book_id }}/{{ page + 1 }}">&gt;&gt;</a>
  </p>
</body>

{% endblock %}