<!doctype html>
<html>

<head>
  <title>{{ base.title }} by {{ base.author }}</title>
</head>

<body>
  <h1><a href="/">BestBooks</a></h1>
  {% if session.username %}
  <p>
    <u>Logged in as: <a href="/profile/{{ session.user_id }}">{{ session.username }}</a></u>
  </p>
  <form action="/logout">
    <input type="submit" value="Log out" />
  </form>
  {% endif %}

  <h2>{{ base.title }}</h2>
  {% if session.user_id == base.user_id %}
  <form action="/book/{{ book_id }}/edit">
    <input type="submit" value="Edit book">
  </form>
  <form action="/book/{{ book_id }}/delete">
    <input type="submit" value="Remove from database">
  </form>
  {% else %}
  <i>Book added by: <a href="/profile/{{ base.user_id }}">{{ user.username }}</a></i>
  {% endif %}
  
  <p>
  {% if session.username %}
  <form action="/book/{{ book_id }}/add_review">
    <input type="submit" value="Add review">
  </form>
  {% endif %}
  </p>
  <p>
    <b>Author</b>: {{ base.author }}
  </p>
  <p>
    <b>Published</b>: 
    {% if attr.publication_date %}
    {{ attr.publication_date }}
    {% else %}
    Unknown date
    {% endif %}
  </p>
  <p>
    {% if attr.genre %}
    <b>Genres</b>:
      {% for genre in attr.genre %}
      <ul>
        <li>{{ genre }}</li>
      </ul>
      {% endfor %}
    {% endif %}
  </p>

  <p>
    <h3><u>User reviews:</u></h3>
    {% if reviews %}
      {% for review in reviews %}
      <h4>
        <a href="/profile/{{ review.user_id }}">{{ review.username }}'s</a> rating: 
        {{ review.rating }} stars.

        {% if review.title %}
        <a href="/book/{{ book_id }}/{{ review.user_id }}">{{ review.title }}</a>
        {% else %}
        <i>No review.</i>
        {% endif %}

        {% if session.user_id == review.user_id %}
        <a href="/book/{{ book_id }}/add_review">edit</a> 
        <a href="/book/{{ book_id }}/{{ review.user_id }}/delete">delete</a>
        {% endif %}

        <i>sent at</i> {{ review.sent_at }}
      <hr>
      </h4>
      {% endfor %}
    {% else %}
    <i>This book has no reviews yet.</i>
    {% endif %}
  </p>
</body>

</html>
