<!doctype html>
<html>

<head>
  <title>Delete {{ book.title }} by {{ book.author }}?</title>
</head>

<body>
  <h1><a href="/">BestBooks</a></h1>
  {% if session.username %}
  <p>
    <u>Logged in as: {{ session.username }}</u>
  </p>
  {% endif %}

  <h2>{{ book.author }}: {{ book.title }}</h2>

  <p>Are you sure you want to delete {{ book.title }} by {{ book.author }}?</p>
  <form action="/book/{{ book.book_id }}/delete" method="post">
    <input type="submit" value="Yes" name="delete">
    <input type="submit" value="No">
  </form>
</body>
</html>
