{% extends "layout.html" %}

{% block title %}Delete your review of {{ book.title }} by {{ book.author }}?{% endblock %}

{% block content %}

<body>
  <p>
    Are you sure you want to delete your review of 
    <span class="book-title"><a href="/book/{{ book.book_id }}">{{ book.title }}</a></span> 
    by 
    <span class="book-author">{{ book.author }}</span>?
  </p>
  <form action="/book/{{ book.book_id }}/review/{{ session.user_id }}/delete" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <button type="submit" class="submit-button" name="delete">Yes</button>
    <button type="submit" class="submit-button">No</button>

    {% if next_page %}
    <input type="hidden" name="next_page" value="{{ next_page }}" />
    {% else %}
    <input type="hidden" name="next_page" value="/" />
    {% endif %}
  </form>

  <p class="review-title">
    <h2>{{ review.title }}</h2>
  </p>
  <p>
    <b>{{ review.rating }} stars</b>
  </p>
  <p class="review-content">
    {{ review.content }}
  </p>
</body>

{% endblock %}