{% extends "layout.html" %}

{% block title %}Edit {{ book.title }} by {{ book.author }}{% endblock %}

{% block content %}

<body>
  <h2>{{ book.title }}</h2>

  <form action="/book/{{ book.book_id }}/edit" method="post">
    <p>
      <label for="title">Title:</label>
      <input id="title" type="text" name="title" value="{{ book.title }}" required maxlength="100">
    </p>
    <p>
      <label for="author">Author:</label>
      <input id="author" type="text" name="author" value="{{ book.author }}" required maxlength="100">
    </p>
    <p>
      <label for="publication_date">Publication date:</label>
      <input id="publication_date" type="date" name="publication_date" value="{{ attr.publication_date }}">
    </p>
    <fieldset>
      <legend>Genres:</legend>
      <div class="checkbox-group">
        {% for genre in genres %}
        <div class="checkbox-item">
          <input id="{{ genre }}" type="checkbox" name="genres" value="{{ genre }}" {% if genre in attr.genre %}checked{% endif %} />
          <label for="{{ genre }}">{{ genre }}</label>
        </div>
        {% endfor %}
      </div>
    </fieldset>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <button type="submit" class="submit-button">Edit</button>
  </form>
</body>

{% endblock %}