<!doctype html>
<html>

<head>
  <title>Edit {{ book.title }} by {{ book.author }}</title>
</head>

<body>
  <h1><a href="/">BestBooks</a></h1>
  {% if session.username %}
  <p>
    <u>Logged in as: <a href="/profile/{{ session.user_id }}">{{ session.username }}</a></u>
  </p>
  <form action="/logout">
    <input type="submit" value="Log out" />
  </form>
  {% endif %}

  {% for message in get_flashed_messages() %}
  <p>
    <b>{{ message }}</b>
  </p>
  {% endfor %}

  <h2>{{ book.title }}</h2>

  <form action="/book/{{ book.book_id }}/edit" method="post">
    <p>
      <label for="title">Title:</label>
      <input id="title" type="text" name="title" value="{{ book.title }}" required maxlength="100">
    </p>
    <p>
      <label for="author">Author:</label>
      <input id="author" type="text" name="author" value="{{ book.author }}" required maxlength="100">
    </p>
    <p>
      <label for="publication_date">Publication date:</label>
      <input id="publication_date" type="date" name="publication_date" value="{{ attr.publication_date }}">
    </p>
    <p>
      <fieldset>
        <legend>Genres:</legend>
        {% for genre in genres %}
          <input id="genre" type="checkbox" name="genres" value="{{ genre }}" {% if genre in attr.genre %}checked{% endif %} />
          <label for="genre">{{ genre }}</label>
        {% endfor %}
      </fieldset>
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Submit">
  </form>
</body>

</html>
