<!doctype html>
<html>

<head>
  <title>BestBooks</title>
</head>

<body>
  <h1>BestBooks</h1>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    {% endif %}
  {% endwith %}

  {% if not session.username %}
  <form action="/register">
    <input type="submit" value="Make an account" />
  </form>
  <form action="/login">
    <input type="submit" value="Log in" />
  </form>
  {% else %}
  <form action="/logout">
    <input type="submit" value="Log out" />
  </form>
  <form action="/add_to_shelf">
    <input type="submit" value="Add a book to your shelf">
  </form>
  <form action="/add_book">
    <input type="submit" value="Add a book into the database">
  </form>
  {% endif %}
</body>

</html>
