<!doctype html>
<html>

<head>
  <title>BestBooks</title>
</head>

<body>
  <h1>BestBooks</h1>
  {% if session.username %}
  <p>
    <u>Logged in as: <a href="/profile/{{ session.user_id }}">{{ session.username }}</a></u>
  </p>
  <form action="/logout">
    <input type="submit" value="Log out" />
  </form>
  {% endif %}

  {% for message in get_flashed_messages() %}
  <p>
    <b>{{ message }}</b>
  </p>
  {% endfor %}

  {% if not session.username %}
  <form action="/register">
    <input type="submit" value="Make an account" />
  </form>
  <form action="/login">
    <input type="submit" value="Log in" />
  </form>
  {% endif %}

  <p>
    <label for="query">Search for a book:</label>
    <form action="/search" method="post">
      <input id="query" type="search" name="query" value="{{ query }}" required>
      <input type="submit" value="Search"><br>
    </form>
  </p>
  <p>
    <form action="/add_book">
      <input type="submit" value="Add a book into the database">
    </form>
  </p>

  {% if books %}
  Recently added books: <br>
  <hr>
    {% for book in books %}
     <a href="/book/{{ book.book_id }}">{{ book.author }}: {{ book.title }}</a>
     <hr>
    {% endfor %}
  {% else %}
  {% endif %}

  <p>
    <a href="/{{ page - 1 }}">&lt;&lt;</a>
    Page {{ page }}/{{ page_count }}
    <a href="/{{ page + 1 }}">&gt;&gt;</a>
  </p>
  <hr />
</body>

</html>
