{% extends "layout.html" %}

{% block title %}BestBooks{% endblock %}

{% block content %}

<body>

  {% if books %}
  <h3>Recently added books:</h3>
  <section class="book-list">
    {% for book in books %}
      <article class="book-card">
        <a href="/book/{{ book.book_id }}">
          <strong>{{ book.title }}</strong> <br>
          <span class="book-card-author">{{ book.author }}</span>
        </a>
      </article>
    {% endfor %}
  </section>
  {% else %}
  <i>This is where recently added books are shown.</i>
    {% if session.user_id %}
    <i>Start adding them <a href="/add_book">here</a>!</i>
    {% else %}
    <i>Start by <a href="/register">making an account</a> or by <a href="/login">logging in</a>.</i>
    {% endif %}
  {% endif %}


  <p class="page-nav">
    <a href="/{{ page - 1 }}">&lt;&lt;</a>
    Page {{ page }}/{{ page_count }}
    <a href="/{{ page + 1 }}">&gt;&gt;</a>
  </p>

</body>

{% endblock %}