<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
</head>

<body>
  <h1><a href="/">BestBooks</a></h1>

  Login:
  <form action="/login" method="post">
    <p>
      Username: <br />
      <input type="text" name="username" required value="{{ username }}"/>
    </p>
    <p>
      Password: <br />
      <input type="password" name="password" required/>
    </p>
    <input type="submit" value="Log in" />
    {% if next_page %}
    <input type="hidden" name="next_page" value="{{ next_page }}" />
    {% else %}
    <input type="hidden" name="next_page" value="/" />
    {% endif %}
  </form>
  {% for message in get_flashed_messages() %}
  <p>
    {{ message }}
  </p>
  {% endfor %}

  <p>
    Don't have an account yet? <a href="/register">Register here.</a>
  </p>
</body>
</html>
