{% extends "layout.html" %}

{% block title %}Profile of {{ user.username }}{% endblock %}

{% block content %}

<body>
  <h2>{{ user.username }}</h2>

  <p>Joined at: {{ user.join_date }}</p>

  {% if books %}
    {% if book_count == 1 %}
      <b>{{ user.username }} has added 1 book:</b>
    {% else %}
      <b>{{ user.username }} has added {{ book_count }} books:</b>
    {% endif %}

    <section class="book-list">
      {% for book in books %}
        <article class="book-card">
          <a href="/book/{{ book.book_id }}">
            <strong>{{ book.title }}</strong><br>
            <span class="book-card-author">{{ book.author }}</span>
          </a>
        </article>
      {% endfor %}
    </section>
  {% else %}
    <i>This user has not added any books yet.</i>
  {% endif %}


  <p class="page-nav">
    <a href="/profile/{{ user_id }}/{{ page - 1 }}">&lt;&lt;</a>
    Page {{ page }}/{{ page_count }}
    <a href="/profile/{{ user_id }}/{{ page + 1 }}">&gt;&gt;</a>
  </p>
</body>

{% endblock %}