<!DOCTYPE html>
<html>

<head>
  <title>Registration</title>
</head>

<body>
  <h1><a href="/">BestBooks</a></h1>

  Register:
  <form action="/register" method="post">
    <p>
      Username: <br />
      <input type="text" name="username" required value="{{ username }}" minlength="6" maxlength="30"/>
    </p>
    Username must be 6-30 characters long.
    <p>
      Password: <br />
      <input type="password1" name="password1" required minlength="7" maxlength="100"/>
    </p>
    Password must be 7-100 characters long.
    <p>
      Re-enter Password: <br />
      <input type="password2" name="password2" required minlength="7" maxlength="100"/>
    </p>
    <input type="submit" value="Create account" />
  </form>
  {% for message in get_flashed_messages() %}
  <p>
    {{ message }}
  </p>
  {% endfor %}

  <p>
    Already have an account? <a href="/login" referrerpolicy="no-referrer">Log in here.</a>
  </p>
</body>
</html>
