{% extends "layout.html" %}

{% block title %}{{ writer.username }}'s review of {{ book.title }} by {{ book.author }}{% endblock %}

{% block content %}

<body>
  <h3>
    <a href="/book/{{ book.book_id }}">{{ book.title }}</a>
  </h3>
  <p>
    <b>Author</b>: <span class="book-author">{{ book.author }}</span>
  </p>
  <h2 class="review-title">{{ review.title }}</h2>
  <p>
    {% if session.user_id == writer.user_id %}
    <div class="review-buttons">
      <form action="/book/{{ book.book_id }}/add_review">
        <button type="submit" class="submit-button">Edit</button>
      </form>
      <form action="/book/{{ book.book_id }}/review/{{ writer.user_id }}/delete">
        <button type="submit" class="submit-button">Delete</button>
      </form>
    </div>
    {% else %}
    <a href="/profile/{{ writer.user_id }}">{{ writer.username }}</a>
    {% endif %}
  </p>
  <p>
    {% if review.rating == 1 %}
    <b>1 star</b>
    {% else %}
    <b>{{ review.rating }} stars</b>
    {% endif %}

  </p>
  <p class="review-content">
    {{ review.content | show_lines }}
  </p>
</body>

{% endblock %}