<!doctype html>
<html>

<head>
  <title>{{ writer.username }}'s review of {{ book.title }} by {{ book.author }}</title>
</head>

<body>
  <h1><a href="/">BestBooks</a></h1>
  {% if session.username %}
  <p>
    <u>Logged in as: <a href="/profile/{{ session.user_id }}">{{ session.username }}</a></u>
  </p>
  <form action="/logout">
    <input type="submit" value="Log out" />
  </form>
  {% endif %}

  <h3>
    <a href="/book/{{ book.book_id }}">{{ book.title }}</a>
  </h3>
  <p>
    <b>Author</b>: {{ book.author }}
  </p>
  <p>
    <h2>{{ review.title }}</h2>
  </p>
  <p>
    {% if session.user_id == writer.user_id %}
    <a href="/book/{{ book.book_id }}/add_review">edit</a> 
    <a href="/book/{{ book.book_id }}/{{ writer.user_id }}/delete">delete</a>
    {% else %}
    <a href="/profile/{{ user_id }}">{{ writer.username }}</a>
    {% endif %}
  </p>
  <p>
    {% if review.rating == 1 %}
    <b>1 star</b>
    {% else %}
    <b>{{ review.rating }} stars</b>
    {% endif %}

  </p>
  <p>
    {{ review.content }}
  </p>
</body>

</html>
