{% extends "layout.html" %}

{% block title %}Search for book{% endblock %}

{% block content %}

<body>
  <h2><label for="search">Search for a Book</label></h2>
  <form action="/search" method="post">
    <input id="search" type="search" name="query" value="{{ query }}" required>
    <button type="submit" class="submit-button">Search</button><br />
  </form>

  {% if query %}
    <h2>Results for "{{ query }}":</h2>
    {% if suggestions %}
      <h3>Did you mean:</h3>
      <section class="book-list">
        {% for book in suggestions %}
          <article class="book-card">
            <a href="/book/{{ book.book_id }}">
              <strong>{{ book.title }}</strong> <br>
              <span class="book-author">{{ book.author }}</span>
            </a>
          </article>
        {% endfor %}
      </section>
    {% else %}
      <p>No suggestions found.</p>
    {% endif %}
  {% endif %}

  <p>
  {% if session.user_id %}
    Can't find your book? Add it to the database!
    <form action="/add_book">
      <button type="submit" class="submit-button">Add to database</button>
    </form>
  {% else %}
    Can't find your book? <a href="/login">Log in</a> or <a href="/register">register</a> and add it to the database!
  {% endif %}
  </p>

</body>

{% endblock %}
